
<div class="container">

  <div class=" fixed-top row bg-secondary text-white"> 
<h1>Listado de Productos</h1>
<a href="/productos/agregar" class="btn btn-primary col-3">Agregar producto al listado</a>
<a href="/carrito/listar" class="btn btn-primary col-3 mx-5">Ir al carrito de productos</a>
</div>
<div class="separador"></div>
{{#if arreglo.length}}
<div id="lista_todos_productos"></div>
{{else}}
<h2>No hay productos</h2>
{{/if}}
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/clienteProductos.js"></script>



